# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/

# Databases
*.db
*.sqlite3

# CSV / exports
*.csv

# Logs
*.log

# Node / frontend
node_modules/
dist/
build/

# System
.DS_Store
Thumbs.db
