# Ignore SQLite databases
*.db
*.db-shm
*.db-wal

# Python cache / virtual environments
__pycache__/
*.pyc
venv/

# Node modules and build artifacts
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Ignore Python virtual environments and logs
appstore-api/.venv/
appstore-api/logs/
update_db.log
